{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span12">
        <h2>{{ video }}</h2>
    </div>
</div>

<div class="row">
    <div class="span8">
        <video id="viewer" class="video-js tubecss" controls preload="auto" width="620" height="480" data-setup="{}">
            <source src="/media/{{ video.raw }}" type="{{ video.get_mimetype }}">
        </video>
    </div>
    <div class="span4">
        <h4>Related Videos</h4>
        <ul class="unstyled">
        {% for relvid in video.get_related_videos %}
            <li><a href="/view/{{relvid.id}}">{{ relvid }}</a></li>
        {% empty %}
            <li>No related video found</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="span4">
        <p>
        <strong>Uploaded at</strong> {{ video.created_time }}
        <br/>
        <strong>by:</strong> {{ video.user }}
        </p>
    </div>
    <div class="span4 counter_wrap">
        <p><span class="counter">{{ video.view_count }}</span> views
        </p>
    </div>
</div>

<div class="row">
    <div class="span12">
        {{ video.desc|linebreaks }}
    </div>
</div>

{% endblock content %}
